{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Ecomsite</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover">
                                Cart(0)
                            </button>
                        </li>
                       
                      </ul>
                    </div>
                </nav>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters allign-items-ceter">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <div id="nm{{ product.id }}" class="card-title">{{ product.title }}</div>
                        <div id="price{{product.id}}" class="card-text">{{ product.price }}</div>

                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <a class="btn atc btn-warning" data-id="{{ product.id }}">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-3">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
        
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>
        
                    {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
    </div>
<!-- Your existing HTML code -->

<script type="text/javascript">
    console.log('This is working');

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    // $(document).on('click', '.atc', function () {
    //     console.log("The add to cart button is clicked");
    //     var item_id = this.getAttribute('data-id');
    //     console.log(item_id);

    //     // Fetch the name from the DOM
    //     var name = document.getElementById("nm" + item_id).innerHTML;

    //     if (cart[item_id] != undefined) {
    //         quantity = cart[item_id][0] + 1;
    //         cart[item_id][0] = quantity;
    //         cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price"+item_id).innerHTML);


    //     }
    //     else {
    //         quantity = 1;
    //         price = parseFloat(document.getElementById("price"+item_id).innerHTML);
    //         name = document.getElementById("nm" + item_id).innerHTML
    //         cart[item_id] = [quantity, name,price];
    //     }

    //     console.log(cart);
    //     localStorage.setItem('cart', JSON.stringify(cart));
    //     document.getElementById("cart").innerHTML = "Cart(" + Object.keys(cart).length + ")";
    // });

    // function DisplayCart(cart) {
    //     var cartString = "";
    //     cartString += "<h5>This is your cart</h5>";
    //     var cartIndex = 1;
    //     for (var x in cart) {
    //         cartString += document.getElementById("nm" + x).innerHTML + "Qty:" + cart[x][0] + "</br>";
    //         cartIndex += 1;
    //     }
    //     cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>checkout</button></a>";
    //     document.getElementById("cart").setAttribute('data-content', cartString);
    //     $('[data-toggle="popover"]').popover();
    // }

    $(document).ready(function () {
    console.log('This is working');

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click', '.atc', function () {
        console.log("The add to cart button is clicked");
        var item_id = this.getAttribute('data-id');
        console.log(item_id);

        // Fetch the name from the DOM
        var name = document.getElementById("nm" + item_id).innerHTML;

        if (cart[item_id] != undefined) {
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price" + item_id).innerHTML);

        }
        else {
            quantity = 1;
            price = parseFloat(document.getElementById("price" + item_id).innerHTML);
            name = document.getElementById("nm" + item_id).innerHTML
            cart[item_id] = [quantity, name, price];
        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        updateCartButtonLabel(cart);
    });

    // Function to update the cart button label
    function updateCartButtonLabel(cart) {
        var cartCount = Object.keys(cart).length;
        document.getElementById("cart").innerHTML = "Cart(" + cartCount + ")";
    }

    // Function to handle cart button click
    $(document).on('click', '#cart', function () {
        // Redirect to the checkout page
        window.location.href = '/checkout'; // Replace '/checkout' with the actual URL of your checkout page
    });
});

</script>
</body>
</html>
